.main-album-index-div {
  // border: 1px solid red;
  margin-top: 48px;
  min-width: 600px;
}

//ALBUM NAV
.album-nav {
  // border: 1px solid red;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

