.main-album-show-div {
  margin-top: 48px;
  margin-bottom: 100px;
  padding: 10px;
}

.all-albums-link {
  // border: 1px solid red;
  text-decoration: none;
  color: black;
}

.all-albums-link:hover {
  opacity: 0.7;
}

.album-show-title {
  // margin-top: 80px;
  // border: 1px solid red;
  padding: 15px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.album-show-photos {
  // border: 1px solid red;
  margin: 0 20px;
}

.album-show-ul {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-show-photo {
  // border: 1px solid blue;
  margin: 5px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.album-show-photo:hover {
  cursor: pointer;
}
