.create-album-div {
  margin-top: 48px;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-album-form {
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-album-title {
  margin: 5px;
  padding: 5px;
}

.create-album-title:focus {
  outline: none;
  border: 2px groove lightgrey;
  border-radius: 4px;
}

.album-submit-btn {
  border: 1px solid grey;
  border-radius: 4px;
}

.album-submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.select-album-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select-album-image {
  cursor: pointer;
  margin: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 80%;
}

.select-album-image:hover {
  opacity: 100%;
}

.click-photo {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: 2px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 80%;
}

.click-photo:hover {
  opacity: 100%;
  transition-duration: 0.4s;
}

[class*="selected"] {
  border: 2px solid black;
  opacity: 100%;
}