.main-comments-div {
  // border: 1px solid red;
  width: 50vw;
  min-width: 350px;
  margin-top: 15px;
}

//COMMENT FORM



//MAPPED COMMENTS

.all-comments {
  // border: 1px solid blue;
  margin: 25px 0 100px 0;
}

.comments-li {
  // border: 1px solid red;
  border-bottom: 1px solid lightgray;
  margin: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.individual-comment-container {
  // border: 1px solid red;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.comment-body {
  // border: 1px solid orange;
  width: 100%;
  text-align: justify;
  font-weight: 300;
}

.delete-comment-btn {
  background: none;
  border: none;
  color: grey;
  cursor: pointer;
}