.loggedin-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 800px;
}

.loggedin-header {
  position: fixed;
  top: 0;
  background-color: #151517;
  width: 100%;
}

.loggedin-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  width: 90%;
  height: 48px;
  padding-left: 50px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.you-btn {
  padding-top: 2px;
  color: white;
  text-decoration: none;
}

.you-btn:hover {
  opacity: 70%;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right > * {
  margin-left: 15px;
}

.upload-btn {
  display: inline-block;
  background: image-url('flickr-icons2.png');
  background-size: 565px 545px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  width: 32px;
  height: 32px;
  background-position: -385px -457px;
  border: none;
  color: black;
  text-decoration: none;
}

.upload-btn:hover {
  cursor: pointer;
}
