.photo-content-container {
  width: 100vw;
  min-width: 700px;
  height: 85vh;
  margin-bottom: 16px;
  background-color: #212124;
  color: white;
}

.photo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.back-btn {
  border: none;
  background-color: #212124;
  color: white;
  font-size: 14px;
  width: 200px;
  height: auto;
  padding: 18px;
  margin-top: 48px;;
}

.back-btn:hover {
  cursor: pointer;
}

.back-btn:focus {
  border: none;
  outline: none;
}

.back-btn:active {
  border: none;
  outline: none;
}

.single-photo-container {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 100%;
}

.show-img {
  object-fit: scale-down;
  width: 100%;
  min-width: 450px;
}

//PHOTO INFO

h2 {
  margin-bottom: 2px;
}

.sub-photo-container {
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-photo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.photo-info {
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 950px;
  min-width: 550px;
}

.user-photo-info {
  width: 75%;
}

.photo-show-username {
  width: auto;
  margin-bottom: 10px;
  font-size: 22px;
  text-decoration: none;
  color:black;
}

.photo-show-username:hover {
  opacity: 70%;
}

.photo-show-title {
  font-size: 16px;
}

.photo-show-caption {
  font-weight: 300;
}

.profile-pic-container {
  height: 70px;
  width: 70px;
  margin: 15px;
}

.profile-pic {
  border-radius: 50px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

//REMOVE PHOTO

.delete-btn {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 90px;
  background: none;
}

.delete-btn:hover {
  background-color: rgb(163, 163, 163);
  border: 1px solid rgb(163, 163, 163);
  color: white;
  transition-duration: 0.3s;
}


//COMMENTS AND TAGS

.comments-and-tags-container {
  width: 90%;
  margin: 0 10vw;
  min-width: 600px;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
}

//COMMENTS


.comments-container {
  display: flex;
  padding-top: 10px;
  width: 80%;
  max-width: 950px;
  min-width: 550px;
}

.commenter-photo {
  margin: 10px;
}

.comment {
  margin-left: 20px;
  font-weight: 300;
}

