//HEADER

.upload-header {
  // border: 1px solid green;
  background-color: white;
  height: 43px;
  padding-left: 10px;
}

.upload-logo {
  // border: 1px solid blue;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
}

#logo1 {
  color: #0063dc;
}

#logo2 {
  color: #ff0084;
}

//TOOLBAR
.upload-toolbar {
  // border: 1px solid blue;
  display: flex;
  align-items: center;
  background-color: rgb(221, 221, 221);
  width: 100%;
  min-width: 600px;
  height: 41px;
}

.upload-tools-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.fake-add-btn {
  position: relative;
  display: inline-block;
}

.fake-add-btn:hover {
  box-shadow: 0px 0px 3px grey;
  border-radius: 4px;
  cursor: pointer;
}

.fake-add-btn-wrapper {
  display: flex;
  align-items: center;
  padding: 4px;
}

.add-btn-icon{
  background: image-url('add-icon.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
}

.upload-add {
  // border: 1px solid red;
  margin-top: 2px;
  margin-left: 2px;
  font-size: 14px;
}

.tool-photo-upload-btn {
  border: 1px solid blue;
  font-size: 0;
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
}

//UPLOAD FALSE

.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292b2c;
  width: 100%;
  min-width: 600px;
  height: 92vh;
}

.fake-upload-btn {
  position: relative;
  display: inline-block;
  background-color: #0063dc;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  text-shadow: -1px 1px 3px rgb(26, 26, 26);
}

.fake-upload-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.photo-upload-btn {
  position: absolute;
  width: 195px;
  padding: 10px;
  top: 0;
  left: 0;
}

input[type=file] {
  opacity: 0;
}

//UPLOAD TRUE

.uploading-container {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  width: 90vw;
}

.uploading-edit-container {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  background:#1e2020;
  height: 85vh;
  width: 210px;
}

.editing {
  padding: 10px;
  font-weight: 300;
  color: lightgray;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

[class*="upload-photo"] {
  // border: 1px solid red;
  border: none;
  padding: 5px 5px;
  margin: 10px 10px;
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 12px;
}

[class*="upload-photo"]:hover {
  background-color: #151616;
}

[class*="upload-photo"]:focus {
  border: 1px solid grey;
  border-radius: 2px;
  background-color: #151616;
}


.upload-submit {
  border: none;
  padding: 5px 5px;
  margin: 10px 10px;
  background-color: white;
  color: black;
  border-radius: 4px;
}

.upload-submit:hover {
  background-color: white;
  opacity: 80%;
  cursor: pointer;
}

.upload-submit:focus {
  border-radius: 4px;
  border-color: grey;
}

textarea {
  resize: none;
}

.photo-preview {
  position: absolute;
  left: 300px;
  width: 60vw;
  height: 600px;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border: none;
}

//ERRORS

.photo-errors-container {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-weight: 300;
  font-size: 13px;
  color: white;
  // text-shadow: -1px 0px black;
}