.main-photo-show-div {
  height: 100vh;
}

.photo-content-container {
  width: 100vw;
  height: 85vh;
  margin-bottom: 16px;
  background-color: #212124;
  color: white;
}

.photo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.back-btn {
  border: none;
  background-color: #212124;
  color: white;
  font-size: 14px;
  width: 200px;
  height: auto;
  padding: 18px;
  margin-top: 48px;;
}

.back-btn:hover {
  cursor: pointer;
}

.back-btn:focus {
  border: none;
  outline: none;
}

.back-btn:active {
  border: none;
  outline: none;
}

.single-photo-container {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 100%;
}

.show-img {
  object-fit: scale-down;
  width: 100%;
  min-width: 450px;
}

//PHOTO INFO

h2 {
  margin-bottom: 2px;
}

.sub-photo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-photo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.photo-info {
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 950px;
  min-width: 550px;
}

.username {
  width: auto;
  margin-bottom: 10px;
  font-size: 22px;
}

.username:hover {
  cursor: pointer;
}

.title {
  font-size: 16px;
}

.caption {
  font-weight: 300;
}

.profile-pic-container {
  height: 70px;
  width: 70px;
  margin: 15px;
}

.profile-pic {
  border-radius: 50px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

//COMMENTS


.comments-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 80%;
  max-width: 950px;
  min-width: 550px;
}

.commenter-photo {
  margin: 10px;
}

.comment {
  margin-left: 20px;
  font-weight: 300;
}

//REMOVE PHOTO

.delete-container {
  position: relative;
  right: -350px;
  top: -70px;
}