//HEADER

.upload-header {
  border: 1px solid red;
  width: 100%;
  // min-width: 600px;
  height: 43px;
  padding: 0 10px;
}

.upload-logo {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
}

//FORM