.main-user-show-div {
  margin-top: 48px;
  min-width: 600px;
}

//USER'S PHOTOS

.user-photos {
  margin: 10px 5vw;
}

.user-photos-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-show-photo {
  width: 300px;
  height: 300px;
  margin: 5px;
  object-fit: cover;
  cursor: pointer;
}

.user-show-photo:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}